*.csv text eol=lf
*.json text eol=lf
*.md text eol=lf
*.tex text eol=lf
*.bib text eol=lf
*.cff text eol=lf

*.ipynb text eol=lf
*.pkl binary
*.xlsx binary
*.xls binary
*.zip binary
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
